@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400&display=swap');

$font-size: 20px;
$container-width: 768px;

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 'Titillium Web', sans-serif;
    font-size: $font-size;
}

.form-container {
    max-width: $container-width;
    margin: 0 auto;
    background-color: aqua;
    padding: 20px;
}

input {
    display: block;
    margin: 10px auto;
}

label {
    display: block;
    text-align: center;
}

input[type="text"],
input[type="number"] {
    font-size: $font-size;
    max-width: $container-width / 2;
    text-align: center;
}